$theme-colors: (
"chris": #262540,
"chris2": #ff9e77,
"chris3": #ff9900
);

body {
min-height: 100vh !important;
}
.invisible {
    padding: 0px !important;
    margin: 0px !important;
}


.nav-top {
    margin-bottom: 56px;
}


@import "node_modules/bootstrap/scss/bootstrap";

